# ─── MongoDB ─────────────────────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017
DB_NAME=fo-shore

# ─── Logging ─────────────────────────────────────────────────────────────────
# Options: debug | info | warn | error
LOG_LEVEL=info
